<section>
  <article class="backToSchool">
    <article>
      <h3 id="school" class="backToSchool__title">¡Prepáralos con tus marcas favoritas!</h3>
      <h3 class="backToSchool__title2">Vuelta al cole</h3>
    </article>

    <include src="./backToSchool-img.html" image="./assets/images/lpbts-mod05-img01-desk.png" altImg="shopBackpack"
      desc="Mochilas escolares">
    </include>

    <include src="./backToSchool-img.html" image="./assets/images/lpbts-mod05-img04-mob.png" altImg="shopBackpack"
      desc="Estuches">
    </include>

    <include src="./backToSchool-img.html" image="./assets/images/lpbts-mod05-img03-mob.png" altImg="shopBackpack"
      desc="Bolsas de deporte">
    </include>

    <article class="grid-btn">
      <button class="grid-btn-shopNow">Empezar ahora</button>
    </article>
  </article>
</section>