<section class="backToSchool">
  <article>
    <h3>¡Prepáralos con tus marcas favoritas!</h3>
    <h3>Vuelta al cole</h3>
    <span>
      <img class="img" src="./assets/images/lpbts-mod05-img01-desk.png" alt="">
      <h4>Mochilas escolares</h4>
    </span>
    <span>
      <img class="img" src="./assets/images/lpbts-mod05-img04-mob.png" alt="">
      <h4>Estuches</h4>
    </span>
    <span>
      <img class="img" src="./assets/images/lpbts-mod05-img03-mob.png" alt="">
      <h4>Bolsas de deporte</h4>
    </span>
    <span>Empezar ahora</span>
  </article>
</section>