<footer class="footer">
  <button class="footer__btn"> <a href="#hero"><img src="./assets/images/ico-arrow.svg" alt="button arrow up"
        class="footer__btn--arrowUp"> </a>
  </button>
  <nav class="footer__nav">
    <ul class="footer__nav--ul">
      <li class="footer__nav--li"><a href="https://www.adalab.es" class="footer__link" target="_blank">Zapatillas
        </a></li>
      <li class="footer__nav--li"><a href="https://www.adalab.es" class="footer__link" target="_blank">Ropa </a></li>
      <li class="footer__nav--li"><a href="https://www.adalab.es" class="footer__link" target="_blank">Niño/a </a></li>
      <li class="footer__nav--li"> <a href="https://www.adalab.es" class="footer__link" target="_blank">Destacados
        </a> </li>
      <li class="footer__nav--li"> <a href="https://www.adalab.es" class="footer__link" target="_blank">Tips </a> </li>
    </ul>
  </nav>
  <nav class="footer__nav2">
    <ul class="footer__nav--ul">
      <li class="footer__nav--li"><a href="https://www.adalab.es" class="footer__link" target="_blank">Twiter </a> </li>
      <li class="footer__nav--li"><a href="https://www.adalab.es" class="footer__link" target="_blank">Instagram
        </a> </li>
      <li class="footer__nav--li"><a href="https://www.adalab.es" class="footer__link" target="_blank">Youtube </a>
      </li>
    </ul>
  </nav>
  <div class="footer__info">
    <p>&copy;2023</p>
    <p>we <span class="little__heart"> ❤︎ </span>run</p>
  </div>
</footer>