
$color1: #6c933e;
$color2: #d9e4cc;
$color3: #4a4a4a;
$color4: #ffffff;
$font-size-normal: 1.6rem;
$font-size-imp: 2rem;
$font-family-title:'Roboto Slab', serif;
$font-family-generic:'Roboto', serif;