$color-primary: #6c933e;
$color-secondary: #d9e4cc;
$color-tertiary: #4a4a4a;
$color-quaternary: #ffffff;
$font-size-xx-large: 3rem;
$font-size-x-large: 2.5rem;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;
$font-family-title: "Roboto Slab", serif;
