.footer {
  background-color: $color-tertiary;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  height: 450px;
  gap: 25px;
}

.footer__nav {
}

.footer__nav--ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
  text-align: justify;
}

.footer__nav--li {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: $color-quaternary;
}

.footer__btn {
  background-color: $color-quaternary;
  box-shadow: none;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  transform: translateY(-42%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__btn--arrowUp {
  width: 25px;
  height: 25px;
  margin-top: 20px;
}

.footer__info {
  color: $color-quaternary;
  text-align: center;
  line-height: 35px;
  font-size: 0.85rem;
}

.little__heart {
  color: $color-primary;
}
