.footer {
  background-color: $color-tertiary;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  height: 450px;
  gap: 25px;
  @media (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    height: 250px;
    padding: 60px 70px 90px;
    position: relative;
  }
  @media (min-width: 1200px) {
    gap: 300px;
  }
  &__btn {
    background-color: $color-quaternary;
    box-shadow: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    @media (min-width: 768px) {
      position: absolute;
      margin-right: 8%;
      right: auto;
      top: 0px;
    }
    &:hover {
      animation: rotation 5s infinite;
      rotate: 0;
      @keyframes rotation {
        0% {
          rotate: 0deg;
        }
        100% {
          rotate: 360deg;
        }
      }
    }
    &--arrowUp {
      width: 25px;
      height: 25px;
      margin-top: 20px;
    }
  }
  &__nav {
    @media (min-width: 768px) {
      order: 2;
    }
    &--ul {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
      gap: 10px;
      text-align: justify;
      @media (min-width: 768px) {
        justify-content: center;
        align-items: stretch;
      }
    }
  }
  &__nav2 {
    @media (min-width: 768px) {
      order: 1;
    }
  }
}

.footer__nav--li {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: $color-quaternary;
}

.footer__info {
  color: $color-quaternary;
  text-align: center;
  line-height: 35px;
  font-size: 0.85rem;
  text-transform: none;
  @media (min-width: 768px) {
    order: 3;
  }
}

.little__heart {
  color: $color-primary;
}
