.shop {
  max-width: 90%;
  margin: 0 auto;
  @media (min-width: 1200px) {
    margin: 0 60px;
  }
}

.shop__art2 {
  display: block;
  padding: 30px 15px;
  text-align: left;
  line-height: 25px;
  @media (min-width: 768px) {
    padding: 35px 30px;
  }
}

.shop__art2--title {
  margin: 5px;
  color: $color-primary;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: normal;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.shop__art2--subtitle {
  margin: 5px;
  text-transform: uppercase;
  font-family: $font-family-title;
  font-size: 1.3rem;
  @media (min-width: 768px) {
    font-size: 2rem;
    line-height: 60px;
  }
}

.shop__art2--desc {
  color: $color-tertiary;
  margin: 8px;
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  @media (min-width: 1200px) {
    width: 85%;
  }
}

.shop__art2--btn {
  background-color: transparent;
  box-shadow: none;
  position: relative;
  margin-top: 30px;
  bottom: 0;
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 25px;
  padding: 9px;
  width: 180px;
  font-size: 1.2rem;
  transition: transform 0.3s, background-color 0.3s;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
  &:hover {
    transform: scale(1.1);
    background-color: $color-secondary;
    color: $color-tertiary;
  }
}
